footer {
    font-size: 50px;
    font-style: oblique;
}
a {
    font-size: 30px;
}

body {
    background-color: rgb(214, 194, 233);
    margin: 20px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
img {
    width: 1000px;
    height: 500px;
    transition: 1s;
    border-image: 0px;
}

img:hover
{
    transform: scale(1.1);
    
    

    
}
    
div {
    font-size: 20px;
    
}